body {
  height: 100%;
  padding: 0;
  margin: auto;
  background: #D4D4D4;
  width: 100%;
}

/*Mobile (Navigation) (START)*/
.header-top {
  background: #1d1d1d;
  height: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
  position: absolute;
  z-index: 100;
  top: 65px;
  padding-bottom: 10px;
}

nav {
  background: #1d1d1d;
  height: 65px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .logo {
  margin-left: 10px;
  width: 450px;
  font-family: "scrivano";
}

nav .logo a {
  color: #f7f7f7;
  text-decoration: none;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo a img {
  width: 55px;
  height: 65;
}

nav .logo a h1 {
  margin-left: 10px;
}

nav .logo .Logo {
  font-size: 25px;
}

nav .toggleButton-box {
  width: 26%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 10px;
  margin-top: 17px;
  margin-bottom: 37px;
}

nav .toggleButton-box .toggleButton {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45px;
  height: 28px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav .toggleButton-box .toggleButton .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

nav .show {
  display: block !important;
  background: #1d1d1d;
  z-index: 100;
}

nav .navbar-links {
  position: absolute;
  margin-top: 65px;
  padding-top: 0;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  display: none;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .navbar-links ul {
  padding: 0;
  margin: 0;
}

nav .navbar-links ul .navbar-hover {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
}

nav .navbar-links ul .navbar-hover li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .navbar-links ul .navbar-hover li a {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-family: "Arial";
  text-decoration: none;
}

/*Mobile (Navigation) (FINISH)*/
/*Break point - desktop (Navigation) (START)*/
@media only screen and (min-width: 700px) {
  .header-top {
    background: #D4D4D4;
    height: 25px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
    position: relative;
    z-index: 100;
    top: 0;
  }
  .btn-toggleBox {
    margin-left: 8% !important;
  }
  nav .logo {
    margin-left: 8%;
  }
  nav .toggleButton {
    display: none !important;
  }
  nav .navbar-links {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin: 0 !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav .navbar-links ul {
    margin-right: 8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 65px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .navbar-links ul #last-child {
    padding-right: 21px !important;
  }
  .contain {
    right: 8% !important;
  }
  .btn-toggleBox {
    margin-left: 8% !important;
  }
  .navbar-hover ul :last-child {
    padding-right: 0;
  }
  .banner-txt h1 {
    margin-left: 8% !important;
  }
  .banner {
    height: 800px !important;
    background-position: center !important;
  }
}

.navbar-hover:hover, .navbar-hover:active {
  background-color: #ffffff50;
}

/*Break point - desktop (Navigation) (FINISH)*/
.contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-top: 0;
  right: 10px;
  z-index: 10;
  color: #f7f7f7;
  font-family: "Arial";
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contain select {
  background-color: #1d1d1d;
  color: #f7f7f7;
}

.contain select option {
  color: #f7f7f7;
}

/*Mobile version (Banner) (START)*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

main .banner {
  width: 100%;
  height: 380px;
  background-image: url("../img/sea34.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

main .banner-txt {
  text-align: left;
  font-weight: bold;
  width: 100%;
  position: absolute;
  z-index: 4;
  height: 100px;
}

main .banner-txt h1 {
  font-size: 20px;
  margin-left: 10px;
}

@media screen and (min-width: 480px) {
  main .banner-txt h1 {
    font-size: 31px;
  }
}

@media screen and (min-width: 700px) {
  main .banner-txt h1 {
    font-size: 33px;
  }
}

@media screen and (min-width: 1024px) {
  main .banner-txt h1 {
    font-size: 36px;
  }
}

main h1 {
  font-family: "Arial";
  color: #1d1d1d;
  margin: 0;
}

main p {
  font-family: "Arial";
}

#first-banner-text {
  padding-bottom: 50px;
}

#second-banner-text {
  margin-top: 235px;
  padding-top: 40px;
  width: 55%;
  background: -webkit-gradient(linear, center, color-stop(60%, #ffffff71), to(transparent));
  background: linear-gradient(to center, #ffffff71 60%, transparent);
}

#second-banner-text h1 {
  text-align: left;
  margin-left: 10px;
  color: #1d1d1d;
  font-size: 14px;
}

#first-titel {
  margin-top: 110px;
  margin-bottom: 5px;
}

#second-titel {
  margin-bottom: 15px;
}

/*Mobile version (Banner) (FINISH)*/
/*Brake point - Desktop (for banner - first section) (START) */
@media only screen and (min-width: 700px) {
  #second-banner-text {
    margin-top: 353px;
    padding-top: 40px;
    margin-left: 8%;
    background: -webkit-gradient(linear, center, color-stop(60%, #ffffff71), to(transparent));
    background: linear-gradient(to center, #ffffff71 60%, transparent);
  }
  #second-banner-text h1 {
    text-align: left;
    margin-left: 0 !important;
    color: #1d1d1d;
    font-size: 16px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 700px) and (min-width: 480px) {
  #second-banner-text h1 {
    font-size: 16px;
  }
}

@media only screen and (min-width: 700px) and (min-width: 700px) {
  #second-banner-text h1 {
    font-size: 17px;
    line-height: 1.4;
  }
}

@media only screen and (min-width: 700px) and (min-width: 1024px) {
  #second-banner-text h1 {
    font-size: 19px;
  }
}

@media only screen and (min-width: 700px) {
  #first-banner-text {
    margin-top: 288px;
  }
  #first-titel {
    margin-top: 30px;
    margin-bottom: 5px;
  }
  #second-titel {
    margin-bottom: 20px;
  }
  #second-banner-text {
    margin-top: 445px;
  }
  #second-banner-text h1 {
    text-align: left;
    margin-left: 10px;
    color: #1d1d1d;
    font-size: 16px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 700px) and (min-width: 480px) {
  #second-banner-text h1 {
    font-size: 16px;
  }
}

@media only screen and (min-width: 700px) and (min-width: 700px) {
  #second-banner-text h1 {
    font-size: 17px;
    line-height: 1.4;
  }
}

@media only screen and (min-width: 700px) and (min-width: 1024px) {
  #second-banner-text h1 {
    font-size: 19px;
  }
}

/*Brake point - Desktop (for banner - first section) (FINISH) */
/* Mobile (Button style) (START) */
.button-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0;
}

.button-box .button {
  width: 150px;
  height: 50px;
  margin-top: 50px;
  border-radius: 25px;
  background-color: #1d1d1d;
  color: #C3D1C0;
  font-family: "Arial";
  font-size: 20px;
  font-weight: bold;
  -webkit-box-shadow: 1px 1px 3px #1d1d1d;
          box-shadow: 1px 1px 3px #1d1d1d;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 480px) {
  .button-box .button {
    font-size: 31px;
  }
}

@media screen and (min-width: 700px) {
  .button-box .button {
    font-size: 33px;
  }
}

@media screen and (min-width: 1024px) {
  .button-box .button {
    font-size: 36px;
  }
}

.button-box .aroow {
  width: 70px;
  height: auto;
}

.button:hover {
  background-color: lightgray;
  color: #1d1d1d;
}

/* Mobile (Button style) (FINISH) */
/*Brake point - Desktop (Button style) (START) */
@media only screen and (min-width: 700px) {
  .button {
    font-size: 25px !important;
  }
}

/* Mobile (Time-line) (START) */
.timeline-text {
  text-align: center;
}

.timeline-text h1 {
  color: #591A15;
  font-size: 16px;
  margin-top: -20px !important;
}

.timeline-text p {
  color: #1d1d1d;
  font-size: 12px;
  font-weight: bold;
}

.timeline {
  max-width: 1200px;
  margin: 0 12%;
  position: relative;
}

.timeline img {
  width: 110px;
  height: 110px;
}

.timeline .right {
  left: 50%;
}

.timeline .right img {
  float: right;
  margin-right: 14px;
}

.timeline .left {
  left: 0;
}

.timeline .left .content {
  margin-left: -50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.timeline .container {
  padding: 10px 0 0 25px;
  position: relative;
  width: 50%;
  height: 167px;
}

.timeline .container .content:hover {
  background-color: #C3D1C0;
}

.timeline .container .content {
  font-family: "Arial";
  border: 1px red;
  margin-top: 18px;
}

.timeline .container .content h2 {
  font-size: 14px;
}

.timeline .container .content p {
  font-size: 11px;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3px;
  background: #1d1d1d;
  left: calc(50% - 2px);
}

.container::after {
  content: '';
  position: absolute;
  top: 15px;
  right: -17px;
  width: 25px;
  height: 25px;
  background: black;
  border-radius: 50%;
  background: #591A15;
}

.right::after {
  left: -13.5px;
}

.left::after {
  right: 13.5px;
}

.right::before {
  content: '';
  height: 2px;
  width: 101%;
  position: absolute;
  top: 26px;
  left: -7px;
  background: #1d1d1d;
}

.left::before {
  content: '';
  height: 2px;
  width: 98%;
  position: absolute;
  top: 26px;
  right: 35px;
  background: #1d1d1d;
}

/* Mobile (Time-line) (FINISH) */
/* Breakpoint - desktop (Time-line) (START) */
@media only screen and (min-width: 700px) {
  .timeline-text h1 {
    font-size: 25px;
  }
  .timeline-text p {
    font-size: 18px;
  }
  .timeline img {
    width: 200px;
    height: 200px;
  }
  .timeline .left {
    left: 0;
  }
  .timeline .left .content {
    margin-left: -50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .timeline .left .content .timeline-image-container {
    width: 100%;
  }
  .timeline .left .content .timeline-image-container img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .timeline .container {
    height: 320px !important;
  }
  .timeline .container .content {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .timeline .container .content h2 {
    font-size: 23px !important;
  }
  .timeline .container .content p {
    font-size: 16px !important;
  }
}

/* Breakpoint (Time-line) (FINISH) */
/* Mobile (section number 2 & articels) (START) */
.background-img {
  background-image: url("../img/sea1.jpg");
  width: 100%;
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

audio {
  display: none;
}

.articles {
  margin: 20px 10px;
}

.articles .titel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articles .titel h1 {
  font-family: "Arial";
  font-size: 16px;
  color: #591A15;
  line-height: 28.8px;
}

.articles .titel .voice {
  margin-top: 5px;
}

.articles .titel .voice img:hover {
  opacity: 0.5;
}

.articles .titel .voice img {
  width: 35px;
  height: 30px;
}

.articles .content {
  font-family: "Arial";
  font-size: 14px;
  color: #1d1d1d;
  line-height: 22.4px !important;
}

.articles .button-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin: 5px 10px 0 0;
}

.articles .button-img .button-box {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.articles .button-img img {
  width: 190px;
  height: 190px;
}

.section-break {
  content: '';
  width: 95%;
  height: 2px;
  margin: 20px 10px;
  background: #591A15;
}

/* Mobile (section number 2 & articels) (FINISH) */
/* Breakpoint - desktop (section number 2 & articels) (START) */
@media only screen and (min-width: 700px) {
  .section-break {
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .Articel-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .articles {
    margin: 0 8%;
    width: 60%;
  }
  .articles .button-img {
    margin: 0 0 0 0;
  }
  .articles .button-img img {
    width: 300px;
    height: 300px;
    margin-top: 0;
  }
  .articles .content {
    font-size: 14px;
    line-height: 23.4pt !important;
    width: 80%;
  }
  .articles .content p {
    margin: 0;
  }
  .articles .titel h1 {
    font-size: 20px;
  }
}

/* Breakpoint - desktop (section number 2 & articels) (FINISH) */
/* Mobile (Footer) (START) */
footer {
  background: #1d1d1d;
  color: #f7f7f7;
  font-family: "Arial";
  font-size: 12px;
  width: 100%;
  height: 540px;
}

footer .footer-seperation {
  content: '';
  width: 95%;
  height: 2px;
  margin: 20px 10px;
  background: #8C241B;
}

footer .section {
  margin: 0 10px;
}

footer .section ul {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

footer .section ul a {
  text-decoration: none;
  color: #f7f7f7;
}

footer .section ul li {
  font-weight: bold;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .section ul li img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

footer a:hover {
  background-color: #ffffff50;
}

footer .first {
  padding-top: 20px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .first img {
  margin-bottom: 20px;
  width: 150px;
  height: auto;
}

footer .fourth img {
  width: 60px;
  height: auto;
  margin-top: 10px;
}

footer .fourth a {
  height: 0 !important;
  display: inline-block;
}

/* Mobile (Footer) (FINISH) */
/* Breakpoint - desktop (Footer) (START) */
@media only screen and (min-width: 700px) {
  footer {
    margin-top: 100px;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer-seperation {
    width: 2px;
    height: 80%;
  }
  footer .section {
    margin: 20px 0;
  }
  footer .section ul li:hover {
    opacity: 0.5;
  }
  footer .first {
    width: 322px;
    padding-top: 0;
    margin-left: 8%;
  }
  footer .second {
    width: 173px;
  }
  footer .fourth {
    margin-right: 8%;
  }
  footer .fourth img:hover {
    opacity: 0.5;
  }
}

/* Breakpoint - desktop (Footer) (FINISH) */
/* dark-mode (START)*/
.btn-toggleBox {
  position: absolute;
  width: 6em;
  height: auto;
  border-radius: 25px;
  text-align: center;
  margin-top: 0;
  display: block;
  background-color: #f7f7f7;
  color: #1d1d1d;
  font-family: "Arial";
  margin-left: 10px;
}

.btn-toggleBox:hover {
  background-color: #1d1d1d;
  color: #f7f7f7;
}

/* dark-mode (Finish)*/
/* dark-mode - desktop (START)*/
@media only screen and (min-width: 700px) {
  .btn-toggleBox {
    background-color: #1d1d1d;
    color: #f7f7f7;
  }
  .btn-toggleBox:hover {
    background-color: #f7f7f7;
    color: #1d1d1d;
  }
}

/* dark-mode - desktop (FINISH)*/
/* Second page (Billedgalleri) /  (START)*/
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  text-align: center;
  font-family: "Arial";
}

.page-header h1 {
  font-size: 16px;
  font-style: unset;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.page-header b {
  font-size: 12px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 3% 10%;
}

.gallery img {
  -webkit-transition: 1s;
  transition: 1s;
  margin-bottom: 10%;
}

.gallery img:hover {
  -webkit-filter: saturate(30%) contrast(1.2);
          filter: saturate(30%) contrast(1.2);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

[class*="image"] {
  width: 100%;
}

/* Second page (Billedgalleri) /  (FINISH)*/
/* Second page - desktop (Billedgalleri) /  (Start)*/
@media only screen and (min-width: 700px) {
  .page-header h1 {
    font-size: 25px;
  }
  .page-header b {
    font-size: 16px;
  }
  [class*="image"] {
    width: 30%;
  }
}

/* Second page - desktop (Billedgalleri) /  (FINISH)*/
/* Third page (Inforgraphic) - mobile version /  (Start)*/
.Info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.Info-container .inforgraphic {
  width: 100%;
  height: auto;
}

/* Third page (Inforgraphic) - mobile version /  (FINISH)*/
/* Third page (Inforgraphic) - desktop /  (Start)*/
@media only screen and (min-width: 700px) {
  .Info-container .inforgraphic {
    width: 70%;
  }
}

/* Third page (Inforgraphic) - desktop /  (FINISH)*/
/*# sourceMappingURL=style.css.map */