$color:(
   primary: (#1d1d1d),
   secondary: (#f7f7f7),
   tertiary: (#591A15),
   quaternary: (#C3D1C0),
   quinary: (#8C241B),
);

$font:(
   primary: ("scrivano"),
   secondary: ("Arial"),
);

// Breakpoint values for min-width operators.
$breakpoints: (
  small : 480px,
  medium: 700px,
  large : 1024px
);

// Font sizes, w/ optional line-heights for each breakpoint.
// Null is mobile, no breakpoint.
$p-font-sizes: (
  null  : (16px, 1.3),
  small : 16px,
  medium : (17px, 1.4),
  large: 19px
);

$h1-font-sizes: (
  null  : 20px, 
  small : 31px,
  medium : 33px,
  large: 36px
);

@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
    @each $fs-breakpoint, $fs-font-size in $fs-map {
      @if $fs-breakpoint == null {
        @include make-font-size($fs-font-size);
      }
      @else {
        // If $fs-font-size is a key that exists in
        // $fs-breakpoints, use the value
        @if map-has-key($fs-breakpoints, $fs-breakpoint) {
          $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
        }
        @media screen and (min-width: $fs-breakpoint) {
          @include make-font-size($fs-font-size);
        }
      }
    }
  }

  // Utility function for mixin font-size
@mixin make-font-size($fs-font-size) {
    // If $fs-font-size is a list, include
    // both font-size and line-height
    @if type-of($fs-font-size) == "list" {
      font-size: nth($fs-font-size, 1);
      @if (length($fs-font-size) > 1) {
        line-height: nth($fs-font-size, 2);
      }
    }
    @else {
      font-size: $fs-font-size;
    }
  }
  

body{
    height: 100% ;
    padding: 0;
    margin:auto;
    background: 	#D4D4D4;
    width: 100%;
    }


/*Mobile (Navigation) (START)*/

.header-top{
    background: #1d1d1d;
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    position: absolute;
    z-index: 100;
    top: 65px;
    padding-bottom: 10px;
}

nav{
    background: #1d1d1d;
    height: 65px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
    .logo {
            margin-left: 10px;
            width: 450px;
            font-family: map-get($font, primary);

            a{
                color: map-get($color, secondary);
                text-decoration: none;
                height: 65px;
                display: flex;
                align-items: center;
                img{
                    width: 55px;
                    height: 65;
                }
                h1{
                    margin-left: 10px;
                }
            
            }

            .Logo{
            font-size: 25px;
            }
        }

        .toggleButton-box{
            width: 26%;
            display: flex;
            justify-content: flex-end;
            margin-right: 10px;
            margin-top: 17px;
            margin-bottom: 37px;
            
            .toggleButton {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 45px;
            height: 28px;
            align-items: flex-end; 
            
                .bar {
                height: 3px;
                width: 100%;
                background-color: white;
                border-radius: 10px;
            }
          }
        }
        
        .show{
            display: block !important;
            background: #1d1d1d;
            z-index: 100;
    
    }
    .navbar-links{
        position: absolute;
        margin-top: 65px;
        padding-top: 0;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        display: none;
        text-align: center;
        justify-content: center;

        ul{

            padding: 0;
            margin: 0;
            
            .navbar-hover{
            padding: 0 20px;
            display: flex;
            align-items: center;
            height: 65px;

            
                li  {
                display: flex;
            
                    a {
                    color: white;
                    font-size: 16px; 
                    font-style: normal;
                    font-weight: normal;
                    font-family: map-get($font, secondary);
                    text-decoration: none;
                    }
                }
            }
        }
    }
}
/*Mobile (Navigation) (FINISH)*/

/*Break point - desktop (Navigation) (START)*/
@media only screen and (min-width: 700px) {

    .header-top{
        background: #D4D4D4;
        height: 25px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        bottom: 0px;
        left: 0px;
        padding-top: 10px;
        position: relative;
        z-index: 100;
        top: 0;
    }

    .btn-toggleBox{
        margin-left: 8% !important;
    }

    
    nav{
        .logo{
            margin-left: 8%;
        }
        .toggleButton{
            display: none !important;
        }
        .navbar-links{
            display: flex !important;
            margin: 0 !important;
            justify-content: flex-end;
            ul{
                margin-right: 8%;
                display: flex;
                height: 65px;
                align-items: center;
                #last-child{
                    padding-right: 21px !important;
                }
            }
        }
    }
.contain{
            right: 8% !important;
        }
    .btn-toggleBox{
            margin-left: 8% !important;
        }

    .navbar-hover ul :last-child {
        padding-right: 0;}

    .banner-txt{
        h1{
            margin-left: 8% !important;
        }
    }

    .banner{
        height: 800px !important;
        background-position: center !important;
        
    }

}



.navbar-hover{
    &:hover, &:active {
        background-color: #ffffff50;
    }
}

/*Break point - desktop (Navigation) (FINISH)*/


.contain{
    display: flex;
    position: absolute;
    margin-top: 0;
    right: 10px;
    z-index: 10;
    color: #f7f7f7; 
    font-family: map-get($font, secondary);
    width: 100%;
    justify-content: flex-end;
    select{
        background-color:map-get($color, primary);
        color: map-get($color, secondary);
        option{
            color: map-get($color, secondary);
        }
    }
}


/*Mobile version (Banner) (START)*/

main{
    display: flex;
    flex-direction: column;
    height: 100%;

    .banner{
        width: 100%;
        height: 380px;
        background-image: url("../img/sea34.jpg");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner-txt{
        text-align: left;
        
        font-weight: bold;
        width: 100%;
        position: absolute;
        z-index: 4;
        height: 100px;

        h1{
            @include font-size($h1-font-sizes);
            margin-left: 10px;
        }
    }

    h1{
        font-family: map-get($font, secondary);
        color: map-get($color, primary);
        margin: 0;
    }

    p{
        font-family: map-get($font, secondary);
    }
}  

#first-banner-text{
    padding-bottom: 50px;
}
#second-banner-text{
    margin-top: 235px;
    padding-top: 40px;
    width: 55%;
    background: linear-gradient(to center, #ffffff71 60%, transparent);
    

    h1{
        text-align: left;
        margin-left: 10px;
        color: map-get($color, primary);
        font-size: 14px;;
    }
}

#first-titel{
    margin-top: 110px;
margin-bottom: 5px;
}

#second-titel{
margin-bottom: 15px;
}
/*Mobile version (Banner) (FINISH)*/


/*Brake point - Desktop (for banner - first section) (START) */

@media only screen and (min-width: 700px){
    #second-banner-text{
        margin-top: 353px;
        padding-top: 40px;
        margin-left: 8%;
        background: linear-gradient(to center, #ffffff71 60%, transparent);
        
    
        h1{
            text-align: left;
            margin-left: 0 !important;
            color: map-get($color, primary);
            @include font-size($p-font-sizes);
        }
    }

    #first-banner-text{
        margin-top: 288px;
    }
    
    #first-titel{
    margin-top: 30px;
    margin-bottom: 5px;
    }
    
    #second-titel{
    margin-bottom: 20px;
    }

    #second-banner-text{
        margin-top: 445px;
        h1{
            text-align: left;
            margin-left: 10px;
            color: map-get($color, primary);
            @include font-size($p-font-sizes);
        }
    }
}
/*Brake point - Desktop (for banner - first section) (FINISH) */


/* Mobile (Button style) (START) */
.button-box{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
    margin: 20px 0;

    .button{
        width: 150px;
        height: 50px;
        margin-top: 50px;
        border-radius: 25px;
        background-color:map-get($color, primary);
        color:map-get($color, quaternary);
        font-family: map-get($font, secondary);
        @include font-size($h1-font-sizes);
        font-weight: bold;
        box-shadow: 1px 1px 3px #1d1d1d;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aroow{
        width: 70px;
        height: auto;
    }
}

.button:hover{
    background-color: lightgray;
    color: map-get($color , primary)
}

/* Mobile (Button style) (FINISH) */

/*Brake point - Desktop (Button style) (START) */
@media only screen and (min-width: 700px){
    .button{
        font-size: 25px !important;
        
    }
}

/* Mobile (Time-line) (START) */
.timeline-text{

    text-align: center;

        h1{
        color:map-get($color, tertiary);
        font-size: 16px;
        margin-top: -20px !important;
    }
        p{
        color:map-get($color, primary);
        font-size: 12px;
        font-weight: bold;
    }    
}

.timeline{
    max-width: 1200px;
    margin: 0 12%;
    position: relative;

    img{
        width: 110px;
        height: 110px;
    }

    .right{
        left: 50%;
        img{
            float: right;
            margin-right: 14px;
        }
    }

    .left{
        left: 0;

        .content{
            margin-left: -50px;
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }
    }
    
    .container{
        padding: 10px 0 0 25px;
        position: relative;
        width: 50%;
        height: 167px;

        .content:hover{
            background-color: #C3D1C0;
        }
        
        .content{
            font-family: map-get($font, secondary);
            border: 1px red;
            margin-top: 18px;
            h2{
                font-size: 14px;   
            }
            p{
                font-size: 11px;
            }
        }
    }
}

.timeline::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background: map-get($color, primary);
    left: calc(50% - 2px);
}

.container::after{
    content: '';
    position: absolute;
    top: 15px;
    right: -17px;
    width: 25px;
    height: 25px;
    background: black;
    border-radius: 50%;
    background: map-get($color, tertiary);
}

.right::after{
    left: -13.5px;
}

.left::after{
    right: 13.5px;
}

.right::before{
    content: '';
    height: 2px;
    width: 101%;
    position: absolute;
    top: 26px;
    left: -7px;
    background: map-get($color, primary);
}

.left::before{
    content: '';
    height: 2px;
    width: 98%;
    position: absolute;
    top: 26px;
    right: 35px;
    background: map-get($color, primary);
}
/* Mobile (Time-line) (FINISH) */


/* Breakpoint - desktop (Time-line) (START) */

@media only screen and (min-width: 700px){
    
    .timeline-text{
    
            h1{
            font-size: 25px;
        }
            p{
            font-size: 18px;
        }    
    }

    .timeline{
        img{
            width: 200px;
            height: 200px;
        }

        .left{
            left: 0;
    
            .content{
                margin-left: -50px;
                width: 100%;
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                .timeline-image-container{
                    width: 100%;
                    img{
                        display: flex;
                    }
                }
            }
        }


    .container{
        height: 320px !important;
        .content{
            display: flex !important;
            flex-direction: column;
            h2{
                font-size: 23px !important;   
            }
            p{
                font-size: 16px !important;
            }
        }
    }
}
}
/* Breakpoint (Time-line) (FINISH) */


/* Mobile (section number 2 & articels) (START) */
.background-img::before{
    background-image: url("../img/sea1.jpg");
    width: 100%;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -10;
}

audio{
    display: none;
}


.articles{
    margin: 20px 10px;
    .titel{
        display: flex;
        justify-content: space-between;
        h1{
            font-family: map-get($font, secondary);
            font-size: 16px;
            color:map-get($color, tertiary);
            line-height: 28.8px;
        }
        .voice{
            margin-top: 5px;
            img:hover{
                opacity: 0.5;
            }
            img{
            width: 35px;
            height: 30px;
            }
        }
    }
    .content{
        font-family: map-get($font, secondary);
        font-size: 14px;
        color:map-get($color, primary);
        line-height: 22.4px !important;
        
        
        
    }
    .button-img{
            width: 100%;
            display: flex;
            justify-content: right;
            margin: 5px 10px 0 0;
            
            
            .button-box{
                margin: 0;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
            }
            img{
            width: 190px;
            height: 190px;
            }
    }
}

.section-break{
    content: '';
    width: 95%;
    height: 2px;
    margin: 20px 10px;
    background:map-get($color, tertiary);
}
/* Mobile (section number 2 & articels) (FINISH) */


/* Breakpoint - desktop (section number 2 & articels) (START) */
@media only screen and (min-width: 700px){
    .section-break{
        width: 84%;
        margin-left: 8%;
        margin-right: 8%;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .Articel-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .articles{
        margin: 0 8%;
        width: 60%;
        .button-img{ 
            margin: 0 0 0 0;
            img{
                width: 300px;
                height: 300px;
                margin-top: 0;
            }
        }
        .content{
            font-size: 14px;
            line-height: 23.4pt !important;
            width: 80%;
            p{
                margin: 0;
            }
        }
        .titel{
            h1{
                font-size: 20px;
            }
        }
    }
}
/* Breakpoint - desktop (section number 2 & articels) (FINISH) */

/* Mobile (Footer) (START) */
footer{
    background:map-get($color, primary);
    color:map-get($color, secondary) ;
    font-family: map-get($font, secondary);
    font-size: 12px;
    width: 100%;
    height: 540px;

    .footer-seperation{
      content: '';
      width: 95%;
      height: 2px;
      margin: 20px 10px;
      background:map-get($color, quinary);
    }

    .section{
        margin: 0 10px;
        ul{
            list-style: none; 
            margin: 20px 0;
            padding: 0;
            a{
                text-decoration: none;
                color:map-get($color, secondary);
            }
            li{
               font-weight: bold;
               padding-bottom: 10px;
               display: flex;
               align-items: center;
               img{
                   width: 20px;
                   height: 20px;
                   margin-left: 10px;
               }
            }
        }
    }

    a:hover{
        background-color: #ffffff50;
    }

    .first{
        padding-top: 20px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        img{
        margin-bottom: 20px;
        width: 150px;
        height: auto;
        }
    }

    .fourth{
        img{
        width: 60px;
        height: auto;
        margin-top: 10px;
        }
        a{
         height: 0 !important;
         display: inline-block;
        }
    }
}
/* Mobile (Footer) (FINISH) */
  

/* Breakpoint - desktop (Footer) (START) */

@media only screen and (min-width: 700px){

    footer{
        margin-top: 100px;
        height: 250px;
        display: flex;
        justify-content: space-between;

        .footer-seperation{
            width: 2px;
            height: 80%;
            
        }
        .section{
            margin: 20px 0;
            ul{
                li:hover{
                    opacity: 0.5;
                }
            }
        }
            .first{
                width: 322px;
                padding-top: 0;
                margin-left: 8%;
            }
            .second{
                width: 173px;
            }
            .fourth{
                margin-right: 8%;
                img:hover{
                    opacity: 0.5;
                }
            }
        }
    }

/* Breakpoint - desktop (Footer) (FINISH) */



/* dark-mode (START)*/
.btn-toggleBox{
    position: absolute;
    width: 6em;
    height: auto;
    border-radius: 0;
    text-align: center;
    margin-top: 0;
    display: block;
    background-color:map-get($color, secondary);
    color:map-get($color, primary);
    font-family: map-get($font, secondary);
    margin-left: 10px;
  }
  .btn-toggleBox:hover{
    background-color:map-get($color, primary);
    color:map-get($color, secondary);
  }

/* dark-mode (Finish)*/



/* dark-mode - desktop (START)*/

@media only screen and (min-width: 700px){
    .btn-toggleBox{
        background-color:map-get($color, primary);
        color:map-get($color, secondary);
    }

    .btn-toggleBox:hover{
        background-color:map-get($color, secondary);
        color:map-get($color, primary);
      }
}

/* dark-mode - desktop (FINISH)*/



/* Second page (Billedgalleri) /  (START)*/
  .page-header{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    font-family: map-get($font, secondary);
    h1{
        
        font-size: 16px;
        font-style: unset;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
    }
    b{
        font-size: 12px;
    }
}

  .gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3% 10%;
 }
 
 .gallery img {
     transition: 1s;
     margin-bottom: 10%;
     
 }
 
 .gallery img:hover{
     filter: saturate(30%) contrast(1.2);
     transform: scale(1.1) ;
 }
 
 
 [class*="image"]{
     width: 100%;
 }

/* Second page (Billedgalleri) /  (FINISH)*/


/* Second page - desktop (Billedgalleri) /  (Start)*/
@media only screen and (min-width: 700px){
    .page-header{
        h1{
            
            font-size: 25px;
        }
        b{
            font-size: 16px;
        }
    }
    
    [class*="image"]{
        width: 30%;
    }
}
/* Second page - desktop (Billedgalleri) /  (FINISH)*/



/* Third page (Inforgraphic) - mobile version /  (Start)*/
.Info-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
    .inforgraphic{
        width: 100%;
        height: auto;
    }
}
/* Third page (Inforgraphic) - mobile version /  (FINISH)*/



/* Third page (Inforgraphic) - desktop /  (Start)*/
@media only screen and (min-width: 700px){
    .Info-container{
        .inforgraphic{
            width: 70%;
        }
    }
}
/* Third page (Inforgraphic) - desktop /  (FINISH)*/